*{
    box-sizing: border-box;
    color: #000000
}

html,body{
    margin:0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:white;
}

.nav ul{
    margin:0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding:.5em;
    text-decoration: none;
}

.nav a:hover{
    background-color:rgba(148, 144, 144, 0.5);
} 

.main-nav{
    text-align:center;
    font-size:1.1em;
    font-weight:lighter;
    border-bottom: 1.25px solid rgba(0,0,0,.5);
}

.main-nav li{
    padding: 0 5%;
}

.main-header{
    background-color: #73BFB8;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;

}

.web-name{
    text-align:center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
}